
.home-bg-img{
  min-height: 710px;
  width: 400px;
  margin-left: -12%;
  -webkit-transform: skewX(10deg);
  -moz-transform: skewX(10deg);
  -ms-transform: skewX(10deg);
  -o-transform: skewX(10deg);
  transform: skewX(10deg);
}




.animate-charcter
{
  display: block;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(
  225deg,
  #231557 0%,
  #44107a 29%,
  #ff1361 67%,
  #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {background-position: 200% center;}
}