
:root{
   --mainPraimary: #018dff
 }

.iconPage{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   direction: rtl;
}

.iconPage:hover{
   background-color: var(--mainPraimary);
   color: white;
   border-radius: 30px;
   cursor: pointer;
}


.iconlable{
   display: none;
   border-radius: 30px 0 0 30px;
   background-color: var(--mainPraimary);
   margin-right: -20px;
   padding: 9px 35px;

}




.iconPage:hover  .iconlable{
   display: flex !important;
   /* animation: mymove .5s ; */
   animation-delay: -.3s;

   transition: all .5s;
}

.iconPage:hover  .iconIcon{
   background-color: var(--mainPraimary);
   color: white;
}


.iconlable:hover{
   display: flex !important;

}




.iconIcon{
   width: 50px !important;
   height: 50px;
   border-radius: 50%;
   line-height: 3;
   text-align: center;
   z-index: 3;

   cursor: pointer;
}







@keyframes mymove {
   from {
      width: 0%;
      background-color: #111;
      visibility:hidden;
   }
   to {
      padding: 9px 35px;
      background-color: var(--mainPraimary);
      visibility: visible;
   }
}




.pageActive{
   background-color: var(--mainPraimary) !important;
   color: white !important;
}



/* main buttons style -----------------------------------start-------------------------------------- */
.circle-btn{
   direction: rtl;
   position: relative;
   width: -moz-fit-content;
   width: fit-content;
   border-radius: 30px;
   background-color: transparent;

   display: flex;
   align-items: center;
   cursor: pointer;
   -webkit-user-select: none;
   user-select: none;
 }



 .circle-btn-icon{
   width: 50px;
   height: 50px;
   font-size: 25px;
   border-radius: 30px;
   box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);

   display: flex;
   justify-content: center;
   align-items: center;

   margin-right: -2px;
   z-index: 1;
 }


 .circle-btn-text{
   display: flex;
   align-items: center;
   padding-left: 30px;
   padding-right: 20px;

   font-size: 18px;
   text-transform: uppercase;
   opacity: 0;
   transition: all .3s;

 }


 .circle-btn-text::after{
   content: '';
   position: absolute;
   right: 0px;
   top: 0;
   width: 50px;
   height: 100%;

   border-radius: 30px;
   z-index: -1;
   transition: all .3s;
 }


 .circle-btn:hover .circle-btn-text::after{
   width: 100.7%;
   background-color: var(--mainPraimary);
   color: white;
 }

 .circle-btn:hover .circle-btn-text{
   opacity: 1;
   color: white;
 }

 .circle-btn:hover .circle-btn-icon{
   background-color: var(--mainPraimary);
   color: white;
 }

 .project-btn:active{
   transform: scale(.99);

 }

 /* main buttons style ------------------------------------end--------------------------------------- */
