:root{
   --mainPraimary: #018dff
 }

.project-Parent{
   position: relative  ;
}



.project-Data{
   display: none;
   position:absolute ;
   top: 0%;
   left: 0%;
   background-color: var(--mainPraimary);
   transition: all .3s;
}



.project-Parent:hover .project-Data{
   display: flex;
}






/* --------------------------------------------------- */

.project-type{

   font-size: 25px !important;
   font-weight: 700 !important;
   cursor: pointer;
}

.project-type:hover{
   color: var(--mainPraimary) ;
   transform: scale(1.1);
}


.project-type-active{
   color: var(--mainPraimary) ;
   transform: scale(1.1);
}





/* ---------------------------------------------------------------- */

.flip-card {
   /* background-color: transparent; */
   height: 220px;
   border-radius: 4px;
   perspective: 1000px; /* Remove this if you don't want the 3D effect */
   cursor: pointer;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
   transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden; /* Safari */
   backface-visibility: hidden;
}


/* Style the back side */
.flip-card-back {
   background-color: var(--mainPraimary) ;  /*  dodgerblue; */
   transform: rotateX(180deg);

   display: flex;
   justify-content: center;
   align-items: center;
}


/* ------------------------------------------ */
.portfolio-card img{
   -webkit-transform: translateY(0);
   transform: translateY(0);

   -webkit-transition: 7s ease-out;
   transition: 7s ease-out;
   
   transition-delay: 1s;

   object-position: top
}

.portfolio-card img:hover{
   transform: translateY(calc(-100% + 300px));
   -webkit-transform: translateY(calc(-100% + 300px));
   -moz-transform: translateY(calc(-100% + 300px));
   -ms-transform: translateY(calc(-100% + 300px));
   -o-transform: translateY(calc(-100% + 300px));
}
