:root{
   --mainPraimary: #018dff
}



.togleIco{
   color: var(--mainPraimary);
   animation: showIcon 1s ;
}




@keyframes showIcon {
   0% {transform: scale(0); opacity: 0;}
   100% {transform: scale(1);  opacity: 1;}
}